*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

button, input, textarea {
    border: none;
    cursor: pointer;
  }
  
body{
    max-width: 1400px;
    padding: 10px 20px;
    margin: 0 auto;
}

.pixer{
    width: 1300px;
    height: 56px;
    margin: 0 auto;
    &-logo{
        width: 58.11px;
        height: 20px;
        margin-left: 100px;
        margin-top: 18px;
        position: absolute;
    }
    &-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__btn{/* blue */
            width: 159px;
            height: 40px;
            border-radius: 5px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 24px;
            color: #FFFFFF;
            background: #2b8fb4;
            transition: .3s;
            &:hover{
                    background-color: #00BAFC;
            }
                
        }
    }
    &-nav{
        width: 549px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 34px;
        margin-left: 500px;
        &__link{
                width: 50px;
                height: 20px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #000000;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 0px 10px;
            transition: .3s;
            &:hover{
                color: rgb(0, 110, 255);
            }
            &:focus{
                border-radius: 20px;
                background-color: #5385ad;
            }
        }
    }
}

.mask{
    width: 1500px;
    height: 418px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 120px;
    
    &-title{
        width: 470px;
        height: 224px;
      
        &__title{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 130%;
            color: #000000;
        }
        &__text{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            color: #000000;
            flex: none;
            order: 1;
            flex-grow: 0;
            margin: 16px 0px;
        }
        &__btn{
            width: 232px;
            height: 40px;
            border-radius: 5px;
            font-family:' Open Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #00BAFC;
            transition: .4s;
            &:hover{
            background: #00BAFC;
            color: #FFFFFF;
            }
        }
    }
    &-youtube{
        width: 458px;
        height: 258px;
        position: absolute;
        right: 0;
    }
}
.sect{
    width: 1300px;
    height: 879px;
    &-logo{
            text-align: center;
        &__title{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 130%;
            color: #000000;
        }
        &__text{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            color: #000000;
            
        }
    }
    &-cart{ 
        width: 1300px;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-left: 133px;
        margin-top: 50px;
        &_img{
            transition: .3s;
        &:hover{
            -webkit-box-shadow: 0px 0px 45px 25px rgba(34, 60, 80, 0.34);
            -moz-box-shadow: 0px 0px 45px 25px rgba(34, 60, 80, 0.34);
            box-shadow: 0px 0px 45px 25px rgba(34, 60, 80, 0.34);
        }
        }
        &__img{
            margin-left: 100px;
        }
    }
    &-btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 440px;
        height: 50px;
        margin-left: 477px;
        margin-top: 50px;
        &_left{
        width: 167px;
        height: 40px;
        background: none;
        border-radius: 5px; 
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color:#00BAFC ;
        transition: .4s;
        background-color: #bcc1c74f;
            &:hover{
            background: #00BAFC;
            color: #FFFFFF;
            }
        }
        &_right{
         width: 250px;
        height: 40px;
        background: none;
        border-radius: 5px; 
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color:#00BAFC ;
        transition: .4s;
        &:hover{
        background: #00BAFC;
        color: #FFFFFF;
        }   
        }
    }
}
.work {
    width: 100%;
    height: auto;
    &__title {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &-text {
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 130%
        }
        &-p {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__child {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;   

        &-illustration {
            width: 75%;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            &:nth-child(2n) {
            flex-direction: row-reverse;
            }
        }
        
    }

    &__btn {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            width: 167px;
            height: 40px;
            border-radius: 5px; 
            background-color: rgb(18, 63, 88);
            color: white;
            transition: .3s;

            &:hover {
                background-color: #00BAFC;
                color: rgb(0, 0, 0);
            }
        }
    }
}
.book {
    width: 100%;
    height: 550px;
    background-color: #00BAFC;

    &__field {
        width: 100%;
        height: 400px;
        padding-top: 100px;
    }
}
fieldset {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
.fieldInp {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background: #F3F3F3;
    transition: 0.5s;
    padding-left: 30px;
    border: 1px solid #00BAFC;
    &:hover {
        border: 1px solid green;
    }
}
.fieldBtn {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.footer {
    width: 100%;
    height: 350px;
    background-color: #191919;
    color: #fff;
    display: flex;
    align-items: center;

    .container {
        width: 70%;
        height: 60%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .footer__left {
        width: 325px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &-title {
            width: 100%;
            height: 40%;
        }
        &-text {
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 130%;
        }
        &-h {
            padding-top: 20px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
        }
    }

    &__center {
        width: 145px;
        height: 225px;
        &-ul {
            padding-top: 12px;
            line-height: 2;
        }
        &-a {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            transition: .2s;
            &:hover{
                color: #fc000083;
            }
        }
    }
    &__right {
        width: 143px;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &-insta {
            width: 70%;
            height: auto;
            display: flex;
            align-items: center;
            padding-top: 10px;
            &:hover{
            color: rgb(255, 0, 0);
            }
        }
        &-a {
            color: #fff;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            transition: .2s;
            &:hover{
                color: #0d95e4;
            }
        }
    }
}
